<div class="collection">
  <div nz-row nzType="flex" nzJustify="space-between">
    <a
      class="collection-anchor"
      nz-col
      nzSpan="5"
      *ngFor="let collection of collections$ | async"
      routerLink="/collections/{{ collection.id }}"
    >
      {{ collection.name }}
    </a>
  </div>
</div>

<!-- *ngIf="collections.length > 0; else noCollections" -->

<!-- <ng-template #noCollections>
  <div class="collection">
    <h2>You have no collections</h2>
  </div>
</ng-template> -->

<div class="add-collection">
  <button nz-button nzSize="large" nzType="default" (click)="showModalName()">
    Add collection
  </button>
  <nz-modal
    [(nzVisible)]="isVisibleName"
    nzTitle="Add new collection"
    (nzOnCancel)="handleCancelName()"
    (nzOnOk)="handleOkName()"
  >
    <input
      nz-input
      placeholder="Name your collection"
      [(ngModel)]="collectionName"
      (keyup.enter)="onEnter()"
    />
  </nz-modal>
</div>

<router-outlet></router-outlet>
