<div class="collection">
  <nz-modal
    [(nzVisible)]="isVisible"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    nzTitle="Photos"
  >
    <app-photos (getSelectedPhotos)="getSelectedPhotos($event)"></app-photos>
  </nz-modal>
</div>

<div *ngIf="collection.urls.length === 0" class="collection">
  <h2>You have no photos</h2>
</div>

<div class="box-image" *ngIf="collection">
  <div class="image" *ngFor="let image of collection.urls">
    <img [src]="image" alt="search photo" />
  </div>
</div>

<div class="add-photo">
  <button nz-button nzSize="large" nzType="default" (click)="showModal()">
    Add photo
  </button>
</div>

<h1>Custom Pipe</h1>
<p>{{ 2 | exponentialStrength: 10 }}</p>
