.image-box {
  display: inline-flex;
  padding: 0.2rem;
}

.selected {
  width: 100px;
  height: 100px;
  padding: 1rem;
  margin: auto;
  background: #355c7d;
  opacity: 0.5;
}

.unselected {
  width: 100px;
  height: 100px;
  padding: 1rem;
  margin: auto;
  background: white;
}
