<form [formGroup]="searchbarForm">
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input
      name="searchText"
      type="searchText"
      nz-input
      placeholder="Search photos ..."
      #searchRequest
    />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button
      nz-button
      nzType="primary"
      nzSearch
      (click)="onSearch($event, searchRequest.value)"
    >
      <i nz-icon nzType="search"></i>
    </button>
  </ng-template>
</form>

<div *ngFor="let image of images" class="image-box">
  <img
    [src]="image"
    [ngClass]="selectedPhotos.includes(image) ? 'selected' : 'unselected'"
    (click)="onToggleSelection($event)"
  />
</div>
