.collection {
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 20px;
}

.add-photo {
  display: flex;
  justify-content: center;
  button {
    background: #355c7d;
  }
}

.flex-box {
  display: inline-flex;
  flex-wrap: wrap;

  .flex {
    padding: 1rem;
    margin-bottom: auto;
  }
}
