<div *ngIf="haveCollections; else noPhotos" class="collection">
  <nz-modal
    [(nzVisible)]="isVisible"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    nzTitle="Photos"
  >
    <app-photos></app-photos>
  </nz-modal>
</div>

<ng-template #noPhotos>
  <div class="collection">
    <h2>You have no photos</h2>
  </div>
</ng-template>

<div class="add-photo">
  <button nz-button nzType="'primary'" (click)="showModal()">
    Add photo
  </button>
</div>

<router-outlet></router-outlet>
