<form nz-form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    <h2>First Name:</h2>
    <input
      nz-input
      nzSize="large"
      type="text"
      formControlName="firstName"
      required
    />
  </label>
  <label>
    <h2>Last Name:</h2>
    <input
      nz-input
      nzSize="large"
      type="text"
      formControlName="lastName"
      required
    />
  </label>
  <app-dropdown-form-control
    formControlName="dropdown"
    [values]="dropdownState"
  >
  </app-dropdown-form-control>
  <app-selector-form-control
    formControlName="selector"
    [values]="selectorState"
    (updateValue)="updateValue($event)"
  ></app-selector-form-control>
  <br />
  <br />
  <button nz-button type="submit" [disabled]="!profileForm.valid">
    Submit
  </button>
</form>
