<div *ngIf="onLogged" class="collection">
  <div nz-row nzType="flex" nzJustify="space-between">
    <nz-modal
      [(nzVisible)]="isVisible"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      nzTitle="Photos"
    >
      <app-photos [collection]="collection"></app-photos>
    </nz-modal>
    <div
      nz-col
      nzSpan="5"
      *ngFor="let collection of collections"
      (click)="showModal()"
    >
      {{ collection.name }}
    </div>
  </div>
</div>

<div *ngIf="!onLogged" class="collection">
  <h2>You have no collections</h2>
</div>

<div class="add-collection">
  <button nz-button nzType="'primary'" (click)="showModalName()">
    Add collection
  </button>
  <nz-modal
    [(nzVisible)]="isVisibleName"
    nzTitle="Add new collection"
    (nzOnCancel)="handleCancelName()"
    (nzOnOk)="handleOkName()"
  >
    <nz-input-group nzSearch>
      <input
        name="searchText"
        type="searchText"
        nz-input
        placeholder="Name your collection"
        [(ngModel)]="collectionName"
      />
    </nz-input-group>
  </nz-modal>
</div>

<router-outlet></router-outlet>
